.group-alias-editor
{
    h1
    {
        font-size: 14px;
        font-weight: bold;
        color: blue;
    }

    h2
    {
        font-size: 10px;
        opacity: 0.8;
        margin-top: 6px;
        margin-bottom: 2px;
    }

    .selected-group
    {
        font-size: 17px;
        font-style: italic;
    }

    .group-info
    {
        &.hidden
        {
            display: none;
        }
    }

    .remove-alias
    {
        display: block;
        text-decoration: underline;
        font-size: 12px;
    }
}