@import (reference) "../../../sharedcss/types-colours.less";

.logs-table
{
    width: 100%;
    table-layout: fixed;

    tr
    {
        .generate-colour-classes();
        // color: var(--type-colour);

        td
        {
            padding: 2px 7px 2px 8px;
            box-sizing: border-box;
            white-space: nowrap;
            overflow: hidden;

            &.date
            {
                width: 90px;
            }

            &.type
            {
                width: 30px;
                color: var(--type-colour);
            }

            &.group
            {
                width: 130px;
            }
        }
    }
}