.logs-table
{
    width: 100%;
    table-layout: fixed;

    td
    {
        &.date
        {
            width: 75px;
        }

        &.type
        {
            width: 25px;
        }

        &.group
        {
            width: 85px;
        }
    }
}