@import (reference) "../sharedcss/shared-colours.less";

body
{
    background-color: @dark-black-green;
    color: @main-white;
    margin: 0;
}

.container
{
    display: flex;
    width: 1000px;
    height: 500px;
    margin: auto;
    background: lightgreen;

    .log-table
    {
        flex: 1;
    }

    .control-column
    {
        width: 260px;
        background: lightblue;
    }
}