@import (reference) "~css/types-colours";
@import (reference) "~css/shared-colours";
@import (reference) "~css/log-table";

// the total of these values must equal the delete timing of the logrow, or shorter
// (animation will cut off if shorter)
@delete-timing: 1500ms; //total hold time for delete
@hold-animation-delay: .8s; //time before animations starts playing as user is holding
@fill-animation-length: @delete-timing - @hold-animation-delay; //time animation lasts when it begins

.logs-table2
{
    display: flex;
    height: 100%;
    flex-direction: column;

    .the-log-rows
    {
        flex: 1;
        height: 100%;
        overflow: auto;
    }

    .log-row
    {
        .log-row-shared();
        position: relative;
        opacity: 1;
        .generate-colour-classes();

        &.header-row
        {
            font-weight: bold;
            margin-bottom: 5px;
            letter-spacing: .5px;

            &:hover
            {
                background-color: transparent;
            }
        }

        .fill-bar
        {
            position: absolute;
            height: 100%;
            width: 0%;
            top: 0;
            background-color: var(--type-colours-faded2);
            z-index: -1;

            &.filling
            {
                // animation duration + delay must be the same as the hold timer
                // in the element
                animation: @fill-animation-length fill-width-expand linear @hold-animation-delay;
                animation-fill-mode: forwards;
            }
        }

        &.sub-entry
        {
            padding-left: 38px;
        }
    }
}

@keyframes fill-width-expand
{
    from
    {
        width: 0%;
    }

    to
    {
        width: 100%;
    }
}