@import (reference) "../../popup-index.less";

.input-zone
{
    margin-bottom: 4px;

    p
    {
        font-style: italic;
    }

    .input-box
    {
        color: @test-green;
        font-size: 14px;
    }
}